@charset "utf-8";
/* CSS Document */
.Top_dau {
	padding: 5px 10px;
	text-align:right;
}

.Top_dau .container{
    max-width: 1200px;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto;
}

.Top_dau button {
    background:none;
    border:0;
	color:red;
	text-align:center;
	padding:5px 10px;
	text-decoration:none;
	font-size:15px;
	line-height:22px;
	font-weight:bold;
	outline: none;
}

.Top_dau button:hover {
	background-color:#ff8080;
	color:white;
	border-radius:10px;
	padding:5px 10px;
    cursor: pointer;
}

.Khung_dang_nhap {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.6);
	padding-top:50px;
}

.Khung_dang_nhap .Noi_dung_khung {
	position:absolute;
	top: 30%;
    left: 5%;
    right: 5%;
	background:#fefefe;
	text-align:center;
	margin:-1.2% auto;
	border:1px solid pink;
	width:400px;
}

.Hoat_canh {
	-webkit-animation: animatezoom 0.6s;
	animation:animatezoom 0.6s;	
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.Cach_khung {
	padding:16px;	
}

.Quen_mat_khau {
	float:right;
	padding:10px;
}

.Cach_khung input[type=text], input[type=password] {
	width:100%;
	font-size:16px;
	padding:10px 20px;
	box-sizing:border-box;	
}

.Khung_dang_nhap .Cach_khung button {
	background-color:lightpink;
	font-size:20px;
	color:black;
	padding:20px;
	border:none;	
	cursor:pointer;
	margin:auto;
	width:100%;
}

.Khung_dang_nhap .Cach_khung button:hover {
	border-radius:0px;
	opacity:0.8;
}

