@charset "utf-8";
/* CSS Document */
.Footer {
	width:100%;
}

.Footer .container{
    max-width: 1200px;
    margin: auto;
}

.cot-first{
    float: left;
    width: 300px;
    padding-left: 60px;
    padding-right: 60px;
}

.cot-last{
    float: left;
    width: 300px;
    padding-right: 0;
    padding-left: 60px;
}

.cot{
    float: left;
    width: 300px;
    padding-left: 60px;
    padding-right: 60px;
}

.Footer p{
    font-weight: 600;
}

.Footer ul{
    list-style: none;
    padding: 0;
}

.Footer a{
    text-decoration: none;
    line-height: 25px;
    color: #8c8c8c;
}

.social-network{
    width: 160px;
    height: 40px;
    background: url(../images/icon.png);
}

.social-network a{
    float: left;
    width: 25%;
    height: 100%;
}
