@charset "utf-8";
/* CSS Document */
.Footer {
	width:100%;
	background:white;
	padding:40px;
}
.Footer .Cot {
	float:left;
	width:50%;
	padding:10px;
}
.Footer .Cot .Icon a {
	width:7%;
	padding:10px;
	font-size:22px;
	text-align:center;
	text-decoration:none;
	margin:5px;
}
.Footer .Cot .Icon a.fa-facebook-f {
 	background: #3B5998;
  	color: white;
	border-radius:50%;
}
.Footer .Cot .Icon a.fa-twitter {
	background: #55ACEE;
  	color: white;
	border-radius:50%;	
}
.Footer .Cot .Icon a.fa-google {
	background: #dd4b39;
  	color: white;
	border-radius:50%;
}
.Footer .Cot .Icon a.fa-yahoo {
	background: #430297;
  	color: white;
	border-radius:50%;
}
.Footer:after {
	content:"";
	display:table;
	clear:both;	
}
