@charset "utf-8";
/* CSS Document */
.header{
    height: 75px;
    width: 100%;
	padding: 20px 0px;
}

.header .container{
    max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

.header-logo{
    display: inline-block;
    float: left;
	margin-left:30px;
    margin-right:60px;
	padding-bottom:20px;
}

.header-logo .logo {
    height: 75px;
    width: 237.67px;
}

.Timkiem{
    display: inline-block;
    float: left;
    margin-top: 30px;
}

.Timkiem form.Phan_tim_kiem {
	margin:auto;
	width:550px;
	height:51px;
	margin-top:-13px;
	background:red;
	border-radius:5px;
	padding:5px;
	padding-right:0px;
    margin-right: 130px;
}

.Timkiem form.Phan_tim_kiem input[type=text] {
	padding:10px;
	background-color:#f5f5f5;
	font-size:18px;
	float:left;
	width:90%;
	outline:none;
	border:0;
	margin-top:auto;
}

.Timkiem form.Phan_tim_kiem button {
	float:left;
	width:10%;
	margin-top:-4px;
	padding:14px;
	background:none;
	font-size:20px;
	border-radius:5px;
	cursor:pointer;
	outline:none;
	border:0;
	color:honeydew;
}

.Giohang{
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.Giohang form.Phan_gio_hang button{
	background:none;
	font-size: 40px;
	border-radius:20px;
	cursor:pointer;
	outline:none;
	border:0;
	color:#ff0000;
}

/*For small screen*/
@media only screen and (max-width: 1200px) {
    .header .container{
        padding-right: 0;
        padding-left: 0;
    }
    
    .header-logo{
        margin-left: -40px;
        margin-right: 80px;
    }
    
    .Timkiem form.Phan_tim_kiem{
        margin-right: 0;
    }
    
    .Giohang{
        float: right;
    }
}

@media only screen and (max-width: 600px) {
    .header-logo{
        margin-left: -25px;
    }
    
    .Timkiem{
        width: 100%;
    }
    
    .Timkiem form.Phan_tim_kiem {
        width: 100%;
    }
    
    .Timkiem form.Phan_tim_kiem input[type=text] {
        width: 85%;
    }
    
    .Timkiem form.Phan_tim_kiem button {
        width: 15%;
    }
    
    .Giohang{
        margin-top: -150px;
    }
}