@charset "utf-8";
/* CSS Document */
.Header {
	overflow:hidden;
	padding:70px;
	padding-bottom:55px;
}

.Header a {
	float: left;
	padding:10px;
	width:225px;
	height:71px;
}

.Header a.logo {
	float:left;
	margin-top:-38px;
}

.Header form.Phan_tim_kiem {
	margin:auto;
	width:50%;
	height:51px;
	margin-top:-19px;
	background:lightpink;
	border-radius:5px;
	padding:5px;
	padding-right:0px;
}

.Header form.Phan_tim_kiem input[type=text] {
	padding:10px;
	background-color:#F0F0F0;
	font-size:18px;
	float:left;
	width:90%;
	outline:none;
	border:0;
	margin-top:-14px;
}

.Header form.Phan_tim_kiem button {
	float:left;
	width:10%;
	margin-top:-16px;
	padding:14px;
	background:none;
	font-size:20px;
	border-radius:5px;
	cursor:pointer;
	outline:none;
	border:0;
}

.Header form.Phan_gio_hang button{
	float:right;
	margin-top:-51px;
	margin-right:25px;
	padding:0px;
	background:none;
	font-size:50px;
	border-radius:20px;
	cursor:pointer;
	outline:none;
	border:0;
	color:lightpink;
}
