@charset "utf-8";
/* CSS Document */

.Main {
	max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

.Main hr{
    margin-top: 0px;
}

.Main .title-background{
    padding-left: 40px;
    padding-right: 40px;
}

.Main .title{
    color: red;
	padding:5px;
    text-transform: uppercase;
}

.Main .container{
    margin: 0 40px;
}

.Main .sanpham{
    width: 23%;
    background-color: pink;
    border: 1px solid red;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 30px;
    text-align: center;
}

.Main .sanpham .p-img{
    display: block;
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: white;
}

.Main .sanpham img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.Main .sanpham .p-name{
    display: block;
    text-decoration: none;
    font-weight: bold;
    height: 40px;
    margin: 10px 0;
    font-size: 20px;
    line-height: 20px;
}

.Main div.sanpham{
    float:left;
}

.Main .gia {
    color: grey;
    font-size: 22px;
    margin: 10px;
    margin-top: 0px;
}

.Main .giacu{
    margin-top: 0px;
    text-decoration: line-through;
    font-size: 19px;
    color: red;
}

.Main .sanpham button {
    border: none;
    padding: 12px;
    color: white;
    background-color: deeppink;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.Main .sanpham button:hover {
    opacity: 0.7;
}

.Main .xemtatca{
    float:right;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
	color:#333333;
}

/*For small screen*/
@media only screen and (max-width: 550px) {
    .Main h1{
        font-size: 100%;
    }
    
    .Main .xemtatca{
        padding-top: 5px;
        font-size: 70%;
    }
    
    .Main .sanpham{
        width: 40%;
        font-size: 10px;
    }
    
    .Main .sanpham .p-img{
        height: 100px;
        line-height: 100px;
        padding-bottom: 1px;
    }
    
    .Main .sanpham .p-name{
        font-size: 100%;
        height: 30px;
        line-height: 15px;
    }
    
    .Main .gia{
        font-size: 120%;
        margin:0;
        padding-bottom: 10px;
    }
    
    .Main .giacu{
        margin-left: 5px;
        font-size: 100%;
    }
    
    .Main .sanpham button{
        padding: 9px;
        margin-top: -15px;
        font-size: 13px;
    }
}