@charset "utf-8";
/* CSS Document */
.Menu-list{
    height: 25px;
    width: 100%;
    text-transform: uppercase;
}

.Menu-list .container{
    max-width: 1200px;
    margin:auto;
	margin-top:-17px;
}

.Menu{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    float: left;
    display: block;
	left:-0.5%;
    margin-top: 5px;
    padding: 15px 30px;
    cursor: default;
	font-weight:bold;
}

.Menu:hover{
    color: deeppink;
}

.Menu a{
    text-decoration: none;
    color: #000000;
}

.Menu a:hover{
    color: deeppink;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 450px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.dropdown-content a {
    position: relative;
    display: block;
    padding: 5px;
    text-decoration: none;
    text-transform: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.Menu:hover .dropdown-content {
    display: inline-block;
}

.dropdown-content .Menu-sub .dropdown-sub{
    display: none;
}

.dropdown-content .Menu-sub:hover .dropdown-sub{
    display: block;
}
