@charset "utf-8";
/* CSS Document */
.menu {
    height: 100%;
    width: 15%;
    background-color: #111;
	position: fixed;
	left: 0;
	top:0;
}

.menu a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
}

.menu a:hover {
    color: #f1f1f1;
}

.menu img{
    width: 100%;
}

.menu .current{
    color: #A70045;
    border-left: groove #A70045;
}

.admin-logo {
	margin-left: 15%;
    width: 85%;
	height: 113px;
	text-align: right;
    position: relative;
    background-color: white;
}

.main{
    width: 85%;
	margin-left: 15%;
	padding-bottom: 30px;
    position: relative;
    background-color: #f5f5f5;
}

@media only screen and (max-width: 600px){
    .menu{
        width: 25%;
    }
    
    .admin-logo{
        margin-left: 25%;
        width: 75%;
        margin-right: 0;
    }
    
    .main{
        width: 75%;
        margin-left: 25%;
    }
}