@charset "utf-8";
/* CSS Document */
.menu {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
}

.menu a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
}

.menu a:hover {
    color: #f1f1f1;
}

.menu img{
    width: 100%;
}

.menu .current{
    color: #A70045;
    border-left: groove #A70045;
}

.menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.nav{
    visibility: hidden;
}

.closebtn{
    visibility: hidden;
}

/*For small screen*/
@media screen and (max-width: 600px) {
    .menu {
        width: 0;
        position: fixed;
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .menu-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
    }
    
    .menu a:hover{
        color: #f1f1f1;
    }
    
    .nav{
        visibility: visible;
        width: 100%;
        height: 10%;
        background-color: #A70045;
    }
    
    .open{
        font-size: 200%;
        cursor:pointer;
        color: white;
    }

    .closebtn {
        visibility: visible;
        position: absolute;
        margin-top: -13%;
        margin-right: -13%;
        z-index: 2;
    }
}