@charset "utf-8";
/* CSS Document */

table{
    margin-left: 16%;
    width: 70%;
}
.table-caption:hover {
	color:#66C;
}

table{
	margin: auto;
    width: 90%;
	border: 1px solid black;
	border-bottom: none;
}

table tbody tr {
	border: 1px solid black;
	text-align: center;
}

table thead th {
	border-bottom: 1px solid black;
}

table tbody td {
	border-bottom: 1px solid black;
}

.xoa_sp,.sua_sp{
	height: 33px;
	width: 65px;
	background-color: #F0F0F0;
	color: darkgoldenrod;
	border: 1px solid #C8CED3;
	margin: 3px;
	transition: 0.3s;
	outline: none;
}

.xoa_sp:hover,.sua_sp:hover{
	background: #2F353A ;
	border: 1px solid #2F353A;
	color: white;
	cursor: pointer;
}

.popup-themsp{
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.popup-themsp__content{
	position: absolute;
	top: 50%;
	left: 50%;
	background: white;
	width: 500px;
	height: 500px;
	transform: translate(-50%,-50%);
	border-radius: 15px;
}

.popup-themsp__title{
	text-align: center;
	font-size: 20px;
	padding: 30px;
	background-color: #B2FD24;
}

.popup-themsp__title:hover {
	background-color: #DCFF4D;
}

.popup-themsp-left{
	float: left;
	width: 45%;
	text-align: right;
}

.popup-themsp-right{
	float: right;
	width: 50%;
}

.popup-themsp-left__label,.popup-themsp-left__input{
	margin-top: 20px;
	height: 35px;
}

.popup-themsp-left__input input{
	border:0;
	margin-top: 0;
	border-bottom: 2px solid #CBCBCB;
	padding: 0 0 5px  5px;
	text-indent: 5px;
	outline: none;
	cursor: default;
}

input[type=checkbox]{
	margin-left: 10px;
}

.popup-themsp__btn{
	position: relative;
	background: #2FB016;
	border: 1px solid #CBCBCB;
	padding: 20px;
	font-size:20px;
	width: 200px;
	color: white;
	transition: 0.3s;
	border-radius: 10px;
	margin-top: 20px;
	left: 140px;
}

.popup-themsp__btn:hover{
	background: #3B872C;
	cursor: pointer;
}

.back{
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 35px;
	color: gray;
}

.back:hover{
	cursor: pointer;
	color: red;
	text-shadow: 0px 0 3px red;
}
.sua-hinh{
	position: absolute;
	top: 72px;
	left: 72px;
}
input[type=checkbox]{
	width: 20px;
	margin-left: 10px;
}